In [1]:
import pandas as pd

# Reading Data

Very often you will need to read data from a file. In most cases, this will be a CSV file. A CSV file can be read and placed into a Pandas `DataFrame`. The first row of the file is usually used as a header. Pandas will automatically create column names based on the header, but you can also provide your own column names. You can also read data from other sources such as an SQL database, an Excel file, a JSON file, etc. For more information on reading data, see the [Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html).

## Reading CSV files and working with a dataframe
### CSV File format
Data in Data Science is often stored in files with the extension *.csv*. CSV stands for **Comma Separated Value**. This means that the values are separated by commas, and it is a standard that was established in the 1970s. That abbreviation has remained, but nowadays values can also be separated by other characters, such as a Tab or a semicolon (;). That character is also called the delimiter or the separator. In CSV files, strings are usually also placed between quotation marks, especially when they contain spaces (or the separator, for example), so it is clear where the string begins and ends within a CSV.

Decimal numbers can be stored in two ways: with a decimal point or with a decimal comma. If you save a file in a Dutch-language Excel, you will see that a decimal comma is automatically used. In an English-language Excel, it will be a decimal point. Therefore, we recommend, only for this course, not to work with Excel.

Before reading a *.csv* file, you should always first check in a text editor how it is stored. By which character are the values separated? What is the decimal notation? In PyCharm, this can also be done, and moreover, PyCharm offers the possibility to immediately view a CSV file as a real table.

Go to the `data` folder and open a CSV file in PyCharm. You will notice that there are tabs at the bottom that allow you to choose how you
In PyCharm, you can view a CSV file as a table.

### Reading a CSV file

```data = pd.read_csv('datasets/persons1.csv', )```

__READING A CSV FILE IS ONE OF THE MOST COMMON TASKS IN DATA SCIENCE. YOU ARE EXPECTED TO BE ABLE TO DO THIS FLUENTLY DURING EVALUATIONS. MANY STUDENTS LOSE UNNECESSARY TIME OR ARE NOT ABLE TO SOLVE THE QUESTIONS BECAUSE THEY ARE NOT FAMILIAR WITH THIS TASK.__

Go to the data directory and open BicycleWeather.csv in PyCharm. 
a. What is the seperator in this file?
b. Read the dataset into a DataFrame using the read_csv function. Use the sep parameter to specify the separator.

In [2]:
#SOLUTION_START
data = pd.read_csv('BicycleWeather.csv', sep=',')
#SOLUTION_END

In PyCharm you can view the dataframe in a table format. Go to the data variable in the jupyter tab and click on "View as DataFrame".
You can of course also print the data in a cell.

In [3]:
print(data)

                STATION                                STATION_NAME      DATE  \
0     GHCND:USW00024233  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20120101
1     GHCND:USW00024233  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20120102
2     GHCND:USW00024233  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20120103
3     GHCND:USW00024233  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20120104
4     GHCND:USW00024233  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20120105
...                 ...                                         ...       ...
1335  GHCND:USW00024233  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20150828
1336  GHCND:USW00024233  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20150829
1337  GHCND:USW00024233  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20150830
1338  GHCND:USW00024233  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20150831
1339  GHCND:USW00024233  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20150901

      PRCP  SNWD  SNOW  TMAX  TMIN  AWND  WDF2  ...  WT17  WT05  WT02  WT22  \
0        0     0     0   128    50    47   100  ... -9999 -9999 -9999 -9999
1      109     0     0   106    28    45   180  ... -9999 -9999 -9999 -9999
2        8     0     0   117    72    23   180  ... -9999 -9999 -9999 -9999
3      203     0     0   122    56    47   180  ... -9999 -9999 -9999 -9999
4       13     0     0    89    28    61   200  ... -9999 -9999 -9999 -9999
...    ...   ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...
1335     5     0     0   233   156    26   230  ... -9999 -9999 -9999 -9999
1336   325     0     0   222   133    58   210  ... -9999 -9999 -9999 -9999
1337   102     0     0   200   128    47   200  ... -9999 -9999 -9999 -9999
1338     0     0     0   189   161    58   210  ... -9999 -9999 -9999 -9999
1339    58     0     0   194   139 -9999 -9999  ... -9999 -9999 -9999 -9999

      WT04  WT13  WT16  WT08  WT18  WT03
0    -9999 -9999 -9999 -9999 -9999 -9999
1    -9999     1     1 -9999 -9999 -9999
2    -9999 -9999     1 -9999 -9999 -9999
3    -9999     1     1 -9999 -9999 -9999
4    -9999 -9999     1 -9999 -9999 -9999
...    ...   ...   ...   ...   ...   ...
1335 -9999 -9999 -9999 -9999 -9999 -9999
1336 -9999 -9999 -9999 -9999 -9999 -9999
1337 -9999 -9999 -9999 -9999 -9999 -9999
1338 -9999 -9999 -9999 -9999 -9999 -9999
1339 -9999 -9999 -9999 -9999 -9999 -9999

[1340 rows x 26 columns]

Now, investigate the data with describe(), info() and head() functions.

In [4]:
#SOLUTION_START
data.describe()
data.info()
data.head(30)
#SOLUTION_END

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   STATION       1340 non-null   object
 1   STATION_NAME  1340 non-null   object
 2   DATE          1340 non-null   int64
 3   PRCP          1340 non-null   int64
 4   SNWD          1340 non-null   int64
 5   SNOW          1340 non-null   int64
 6   TMAX          1340 non-null   int64
 7   TMIN          1340 non-null   int64
 8   AWND          1340 non-null   int64
 9   WDF2          1340 non-null   int64
 10  WDF5          1340 non-null   int64
 11  WSF2          1340 non-null   int64
 12  WSF5          1340 non-null   int64
 13  FMTM          1340 non-null   int64
 14  WT14          1340 non-null   int64
 15  WT01          1340 non-null   int64
 16  WT17          1340 non-null   int64
 17  WT05          1340 non-null   int64
 18  WT02          1340 non-null   int64
 19  WT22          1340 non-null   int64
 20  WT04          1340 non-null   int64
 21  WT13          1340 non-null   int64
 22  WT16          1340 non-null   int64
 23  WT08          1340 non-null   int64
 24  WT18          1340 non-null   int64
 25  WT03          1340 non-null   int64
dtypes: int64(24), object(2)
memory usage: 272.3+ KB

,STATION,STATION_NAME,DATE,PRCP,SNWD,SNOW,TMAX,TMIN,AWND,WDF2,...,WT17,WT05,WT02,WT22,WT04,WT13,WT16,WT08,WT18,WT03
0,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120101,0,0,0,128,50,47,100,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
1,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120102,109,0,0,106,28,45,180,...,-9999,-9999,-9999,-9999,-9999,1,1,-9999,-9999,-9999
2,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120103,8,0,0,117,72,23,180,...,-9999,-9999,-9999,-9999,-9999,-9999,1,-9999,-9999,-9999
3,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120104,203,0,0,122,56,47,180,...,-9999,-9999,-9999,-9999,-9999,1,1,-9999,-9999,-9999
4,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120105,13,0,0,89,28,61,200,...,-9999,-9999,-9999,-9999,-9999,-9999,1,-9999,-9999,-9999
5,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120106,25,0,0,44,22,22,180,...,-9999,-9999,-9999,-9999,-9999,-9999,1,-9999,-9999,-9999
6,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120107,0,0,0,72,28,23,170,...,-9999,-9999,-9999,-9999,-9999,1,1,-9999,-9999,-9999
7,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120108,0,0,0,100,28,20,160,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
8,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120109,43,0,0,94,50,34,200,...,-9999,-9999,-9999,-9999,-9999,1,1,-9999,-9999,-9999
9,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120110,10,0,0,61,6,34,20,...,-9999,-9999,-9999,-9999,-9999,-9999,1,-9999,-9999,-9999
10,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120111,0,0,0,61,-11,51,20,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
11,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120112,0,0,0,61,-17,19,30,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
12,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120113,0,0,0,50,-28,13,40,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
13,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120114,41,0,0,44,6,53,220,...,-9999,-9999,-9999,-9999,-9999,1,1,-9999,1,-9999
14,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120115,53,51,61,11,-33,32,200,...,-9999,-9999,-9999,-9999,-9999,1,-9999,-9999,1,-9999
15,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120116,25,51,3,17,-28,50,190,...,-9999,-9999,-9999,-9999,-9999,1,1,-9999,1,-9999
16,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120117,81,0,0,33,0,56,220,...,-9999,-9999,-9999,-9999,-9999,1,-9999,-9999,1,-9999
17,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120118,198,25,173,0,-28,50,360,...,1,-9999,-9999,-9999,-9999,-9999,1,-9999,1,-9999
18,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120119,152,76,8,-11,-28,16,300,...,-9999,-9999,-9999,-9999,1,-9999,1,-9999,1,-9999
19,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120120,135,76,0,72,-11,23,130,...,-9999,-9999,-9999,-9999,-9999,-9999,1,-9999,1,-9999
20,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120121,30,51,0,83,33,82,200,...,-9999,-9999,-9999,-9999,-9999,-9999,1,-9999,-9999,-9999
21,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120122,61,0,0,67,22,48,160,...,-9999,-9999,-9999,-9999,-9999,1,1,-9999,-9999,-9999
22,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120123,0,0,0,83,11,36,200,...,-9999,-9999,-9999,-9999,-9999,-9999,1,-9999,-9999,-9999
23,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120124,86,0,0,100,22,51,240,...,-9999,-9999,-9999,-9999,-9999,1,1,-9999,-9999,-9999
24,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120125,81,0,0,89,44,54,250,...,-9999,-9999,-9999,-9999,-9999,1,1,-9999,-9999,-9999
25,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120126,48,0,0,89,11,48,220,...,-9999,-9999,-9999,-9999,-9999,1,1,-9999,-9999,-9999
26,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120127,0,0,0,67,-22,14,110,...,-9999,-9999,-9999,-9999,-9999,1,-9999,-9999,-9999,-9999
27,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120128,0,0,0,67,6,22,200,...,-9999,-9999,-9999,-9999,-9999,-9999,1,-9999,-9999,-9999
28,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120129,277,0,0,94,39,45,190,...,-9999,-9999,-9999,-9999,-9999,1,1,-9999,-9999,-9999
29,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120130,36,0,0,83,61,51,220,...,-9999,-9999,-9999,-9999,-9999,-9999,1,-9999,-9999,-9999

Select columns Station_name, date and TMAX from rows with index 10 to 20.

In [5]:
#SOLUTION_START
data.loc[10:20, ['STATION_NAME', 'DATE', 'TMAX']]
#SOLUTION_END

                                  STATION_NAME      DATE  TMAX
10  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20120111    61
11  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20120112    61
12  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20120113    50
13  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20120114    44
14  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20120115    11
15  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20120116    17
16  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20120117    33
17  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20120118     0
18  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20120119   -11
19  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20120120    72
20  SEATTLE TACOMA INTERNATIONAL AIRPORT WA US  20120121    83

Now, read the file again, but this time use the extra parameter names to specify your own column names. Use range(0, 26) as column names.

In [6]:
#SOLUTION_START
data = pd.read_csv('BicycleWeather.csv', sep=',', names=range(0, 26))
#SOLUTION_END

Look at the first three rows of the data. What problem do you see?

In [7]:
#SOLUTION_START
data.head()
#The header names are now the first row of the data
#SOLUTION_END

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,STATION,STATION_NAME,DATE,PRCP,SNWD,SNOW,TMAX,TMIN,AWND,WDF2,...,WT17,WT05,WT02,WT22,WT04,WT13,WT16,WT08,WT18,WT03
1,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120101,0,0,0,128,50,47,100,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
2,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120102,109,0,0,106,28,45,180,...,-9999,-9999,-9999,-9999,-9999,1,1,-9999,-9999,-9999
3,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120103,8,0,0,117,72,23,180,...,-9999,-9999,-9999,-9999,-9999,-9999,1,-9999,-9999,-9999
4,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120104,203,0,0,122,56,47,180,...,-9999,-9999,-9999,-9999,-9999,1,1,-9999,-9999,-9999

Try to solve the problem by using the header parameter.

In [8]:
#SOLUTION_START
data = pd.read_csv('BicycleWeather.csv', sep=',', names=range(0, 26), header=0) # In this case you give the names yourself and you indicate that the header is the first row and that the file header has te be skipped
data.head()
#SOLUTION_END

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120101,0,0,0,128,50,47,100,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
1,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120102,109,0,0,106,28,45,180,...,-9999,-9999,-9999,-9999,-9999,1,1,-9999,-9999,-9999
2,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120103,8,0,0,117,72,23,180,...,-9999,-9999,-9999,-9999,-9999,-9999,1,-9999,-9999,-9999
3,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120104,203,0,0,122,56,47,180,...,-9999,-9999,-9999,-9999,-9999,1,1,-9999,-9999,-9999
4,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20120105,13,0,0,89,28,61,200,...,-9999,-9999,-9999,-9999,-9999,-9999,1,-9999,-9999,-9999

If you look at the data, you will notice -9999 values. These are probably missing values. Try to solve this by using the na_values parameter.

In [10]:
data = pd.read_csv('BicycleWeather.csv', sep=',', names=range(0, 26), header=0, na_values= -9999) # In this case you give the names yourself and you indicate that the header is the first row and that the file header has te be skipped

## Categorical Variables
In many cases, when importing data, you will encounter categorical variables. These are variables that can take on a limited number of values. These values are often represented by strings. In Pandas, you can work with these variables in a very efficient way.

We start by creating a Pandas Categorical Series. A Categorical Series is a list of values that all come from a certain category. A categorical variable can take on a fixed number of values, which are usually expressed in strings. A categorical variable represents a nominal or ordinal variable, depending on whether the values in the list have a certain order or not.


Take your **blood type** as an example. Possible values are:

``> O-, O+, B-, B+, A-, A+, AB-, AB+``

We know that blood type is a **nominal variable**.
You cannot perform calculations with these values. There are also examples where there is an order, for example:

Take the degree of agreement as an example. Possible values could be:\
``> none, little, more, most``\
This is clearly an example of an **ordinal variable**.
Sometimes the values of a categorical variable are represented by numbers, but they are still categorical variables. Do not be misled by this.

From the theory of measurement scales, we know that nominal variables can only be compared (using the = operator) and ordinal variables can at most be sorted (using <, >, = operators).  To work efficiently with these values, an index or category is assigned to them. Because this index is a number, it is much faster to find values of the correct category in a large dataset. Run the following code to create a nominal variable blood types.

Run the following code to create a nominal variable blood types.
```python
values = ['AB-', 'O-', 'B-', 'B-', 'A+', 'AB+', 'O+', 'B-', 'B+', 'A-', 'A+', 'AB-']
bloodtype = pd.Categorical(values, categories=['O-','O+','B-','B+','A-','A+','AB-','AB+'])
bloodtype
```

In [11]:
#SOLUTION_START
import pandas as pd
values = ['AB-', 'O-', 'B-', 'B-', 'A+', 'AB+', 'O+', 'B-', 'B+', 'A-', 'A+', 'AB-']
bloodtype = pd.Categorical(values, categories=['O-','O+','B-','B+','A-','A+','AB-','AB+'])
bloodtype
#SOLUTION_END

['AB-', 'O-', 'B-', 'B-', 'A+', ..., 'B-', 'B+', 'A-', 'A+', 'AB-']
Length: 12
Categories (8, object): ['O-', 'O+', 'B-', 'B+', 'A-', 'A+', 'AB-', 'AB+']

Now run the following code to create an ordinal variable akkoord.
```python
values = ['little', 'more', 'none', 'more', 'little', 'most', 'none']
agreement = pd.Categorical(values, categories=['none', 'little', 'more', 'most'], ordered=True)
agreement
```

In [12]:
#SOLUTION_START
values = ['little', 'more', 'none', 'more', 'little', 'most', 'none']
agreement = pd.Categorical(values, categories=['none', 'little', 'more', 'most'], ordered=True)
agreement
#SOLUTION_END

['little', 'more', 'none', 'more', 'little', 'most', 'none']
Categories (4, object): ['none' < 'little' < 'more' < 'most']

When reading a csv you can also specify which columns are categorical. This can be done with the dtype parameter. Create a new DataFrame laptops from the file laptops.csv. Specify that the columns cpuGeneration and brand are categorical. 
_Tip dtype={'col_name':'category', 'col_name2':'category'}_
 As always, first look at the file to see what the separator is. In this case it will also be important to set the decimal argument correctly.

In [13]:
#SOLUTION_START
laptops = pd.read_csv('laptops.csv', sep=';', dtype={'cpuGeneration': 'category', 'brand': 'category'}, decimal=',')
#SOLUTION_END

Check the result. cpuGeneration and brand should be of type category and diskspace should be of type float.

In [14]:
#SOLUTION_START
laptops.info()
#SOLUTION_END

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 857 entries, 0 to 856
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cpuGeneration  852 non-null    category
 1   cpuType        853 non-null    object
 2   RAM            855 non-null    float64
 3   diskspace      851 non-null    float64
 4   brand          856 non-null    category
dtypes: category(2), float64(2), object(1)
memory usage: 22.5+ KB

In many cases you will want to convert a column to a categorical variable after reading the file into a dataframe. In case of the dataframe laptops, convert cpuType to a categorical. The cpuType has to be 'oridinal' and the categories should be 'i3', 'i5', 'i7'.

In [15]:
#SOLUTION_START
laptops['cpuType'] = pd.Categorical(laptops['cpuType'], categories=['i3', 'i5', 'i7'], ordered=True)
#SOLUTION_END

Check whether the column has been converted correctly. Make sure you see < between the categories.

In [16]:
#SOLUTION_START
print(laptops['cpuType'])
#SOLUTION_END

0      i7
1      i5
2      i7
3      i7
4      i5
       ..
852    i3
853    i5
854    i5
855    i7
856    i3
Name: cpuType, Length: 857, dtype: category
Categories (3, object): ['i3' < 'i5' < 'i7']