Dataframe 'europe' is a dataframe with the countries of Europe as the index. It's a variant on the dataframe from the previous exercise.

In [1]:
import numpy as np
import pandas as pd
#Data preparation
countries = ['France', 'Germany', 'Italy', 'Spain', 'Portugal', 'Greece', 'Belgium', 'Netherlands', 'Luxembourg', 'Austria', 'Switzerland', 'Denmark', 'Sweden', 'Norway', 'Finland', 'Iceland', 'Ireland', 'United Kingdom']
population = [67, 83, 60, 47, 10, 11, 11, 17, 0.6, 9, 8, 6, 10, 5, 5, 0.3, 5, 67]
GDP = [2.78, 4.42, 2.08, 1.39, 0.23, 0.18, 0.53, 0.91, 0.06, 0.45, 0.70, 0.35, 0.53, 0.40, 0.27, 0.02, 0.33, 2.83]
national_dept = pd.Series([2.36, 2.09, 2.34, 1.18, 2.32], index=['France', 'Belgium', 'Italy', 'Austria', 'Monaco'])
europe = pd.DataFrame({'population': population, 'GDP': GDP}, index=countries)
europe['national_dept'] = national_dept
europe = europe.astype('Float32')
europe.loc['Switzerland','GDP'] = pd.NA
europe.info()
europe

<class 'pandas.core.frame.DataFrame'>
Index: 18 entries, France to United Kingdom
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   population     18 non-null     Float32
 1   GDP            17 non-null     Float32
 2   national_dept  4 non-null      Float32
dtypes: Float32(3)
memory usage: 970.0+ bytes

                population   GDP  national_dept
France                67.0  2.78           2.36
Germany               83.0  4.42           <NA>
Italy                 60.0  2.08           2.34
Spain                 47.0  1.39           <NA>
Portugal              10.0  0.23           <NA>
Greece                11.0  0.18           <NA>
Belgium               11.0  0.53           2.09
Netherlands           17.0  0.91           <NA>
Luxembourg             0.6  0.06           <NA>
Austria                9.0  0.45           1.18
Switzerland            8.0  <NA>           <NA>
Denmark                6.0  0.35           <NA>
Sweden                10.0  0.53           <NA>
Norway                 5.0   0.4           <NA>
Finland                5.0  0.27           <NA>
Iceland                0.3  0.02           <NA>
Ireland                5.0  0.33           <NA>
United Kingdom        67.0  2.83           <NA>

## Missing values in Pandas
Investigate the dataframe europe.

a. Create a ndarray with boolean values that are True when a specific value of the europe dataset is Null.

b. Create a copy europe_b of the europe dataset. Drop all rows where at least one element is missing.

c. With only a few countries left in the dataset it is clear that we will have to use another strategy:
- Create a copy europe_c of the europe dataset.
- For GDP replace the missing values by the mean of the GDP values. (This is of course not a good strategy in practice, but it is a good exercise).
- After that delete the columns that still have missing values.
- Check the results

In [2]:
#SOLUTION_START
#a.
europe.isnull()
#b.
europe_b = europe.dropna()
print(europe_b)
#c
europe_c = europe.copy()
europe_c['GDP'] = europe_c['GDP'].fillna(europe_c['GDP'].mean())
europe_c = europe_c.dropna(axis='columns')
europe_c
#SOLUTION_END

         population   GDP  national_dept
France         67.0  2.78           2.36
Italy          60.0  2.08           2.34
Belgium        11.0  0.53           2.09
Austria         9.0  0.45           1.18

                population       GDP
France                67.0      2.78
Germany               83.0      4.42
Italy                 60.0      2.08
Spain                 47.0      1.39
Portugal              10.0      0.23
Greece                11.0      0.18
Belgium               11.0      0.53
Netherlands           17.0      0.91
Luxembourg             0.6      0.06
Austria                9.0      0.45
Switzerland            8.0  1.044706
Denmark                6.0      0.35
Sweden                10.0      0.53
Norway                 5.0       0.4
Finland                5.0      0.27
Iceland                0.3      0.02
Ireland                5.0      0.33
United Kingdom        67.0      2.83